amply @ file:///home/conda/feedstock_root/build_artifacts/amply_1687675480808/work
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1711268871457/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
clarabel @ file:///D:/bld/clarabel_1709397278769/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1704278392174/work
contourpy==1.0.7
cupy @ file:///D:/bld/cupy-split_1721950359683/work
cvxpy @ file:///D:/bld/cvxpy-split_1724065306113/work
cycler==0.11.0
debugpy @ file:///D:/bld/debugpy_1695534451132/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1727685887191/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1713930378730/work
ecos @ file:///D:/bld/ecos_1718747728187/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastrlock @ file:///D:/bld/fastrlock_1702696481893/work
fonttools==4.39.4
gurobipy==11.0.3
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1703269254275/work
ipykernel @ file:///D:/bld/ipykernel_1705418162861/work
ipython @ file:///D:/bld/ipython_1706795789991/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core @ file:///D:/bld/jupyter_core_1704727252411/work
kiwisolver==1.4.4
matplotlib==3.7.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
munkres==1.1.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy==1.24.3
osqp @ file:///D:/bld/osqp_1685084466922/work
packaging==23.1
pandas @ file:///D:/bld/pandas_1715897782848/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.5.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
ply==3.11
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
psutil @ file:///D:/bld/psutil_1705722591889/work
PuLP @ file:///D:/bld/pulp_1705064832196/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-sip @ file:///D:/bld/pyqt-split_1695417970429/work/pyqt_sip
python-dateutil==2.8.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pywin32==306
pyzmq @ file:///D:/bld/pyzmq_1701783313681/work
qdldl @ file:///D:/bld/qdldl-python_1719722580152/work
scipy @ file:///C:/bld/scipy-split_1720323100744/work/dist/scipy-1.14.0-cp311-cp311-win_amd64.whl#sha256=61ee96b8282a95e34b1d1a756728e0792b160306b197a3a01f20e6aa26edf6be
scs @ file:///D:/bld/scs_1720395195354/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
sip @ file:///D:/bld/sip_1697300573532/work
six==1.16.0
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1721304206023/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///D:/bld/statsmodels_1715941378132/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tornado @ file:///D:/bld/tornado_1695373601455/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1704212992681/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
