{% extends 'allocation_app/base.html' %}
{% block title %}{{ algorithm_info.name }} - Algorithm Details{% endblock %}

{% block content %}
    <h1>{{ algorithm_info.name }}</h1>
    {% for paragraph in algorithm_info.description %}
        <p>{{ paragraph|safe }}</p>
    {% endfor %}

    <h2>References</h2>
    <ul>
        {% for ref in algorithm_info.references %}
            <li>
                <a href="{{ ref.link }}">{{ ref.title }}</a> by {{ ref.author }}
            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="{% url 'selections' %}" class="button-link">Try {{ algorithm_info.name }} algorithm</a>
    </p>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['\\(','\\)']],
                displayMath: [['\\[','\\]']],
                packages: {'[+]': ['ams']},    // Include the 'ams' package
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock content %}
