{% extends 'allocation_app/base.html' %}
{% block title %}Home - Fair Allocation of Indivisible Items{% endblock %}

{% block content %}
    <h1>Welcome to the Fair Allocation App</h1>
    <p>
        This application allows you to explore algorithms for the fair allocation of indivisible goods.
    </p>
    <h2>About Fair Allocation</h2>
    <p>
        The problem of fair allocation of indivisible goods involves distributing a set of items to a set of agents in a way that is considered fair according to certain criteria.
    </p>
    <h2>Existing Algorithms</h2>
    <p>
        Several algorithms have been developed to address this problem, each with its own approach to achieving fairness.
    </p>
    <p>
        To learn more about these algorithms, select one from the "Algorithm" menu above.
    </p>
    <p>
        Ready to try it out? Click on "Run Algorithm" to get started.
    </p>
{% endblock content %}
